.wrapper {
    width: 33%;
    display: inline-block;
    background-color: crimson;
    color: white;
    padding: 4px;
    margin: 10px;
    text-align: center;
    border-radius: 14px;
    border: 1px solid crimson;
}